{
   "printWidth": 100,
   "tabWidth": 3,
   "singleQuote": true,
   "trailingComma": "all",
   "bracketSpacing": true,
   "semi": true,
   "useTabs": false,
   "arrowParens": "avoid",
   "endOfLine": "auto"
 }
