@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  scrollbar-width: none;
  font-family: 'Space Grotesk', sans-serif;
  @apply text-[#BBBBBB];
}

.blur {
  backdrop-filter: blur(5px);
}

.gradient-text {
  @apply bg-gradient-to-r from-yellow-200 to-amber-800 bg-clip-text text-transparent
}

.header-text {
  @apply phone:text-[3vh] xs:text-[3vh] s:text-[3vh] sm:text-[4vw] tablet:text-[4vw] md:text-[3.5vw] lg:text-[3.5vw]
}

.animation {
  @apply transition duration-500 ease-in-out
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  scrollbar-width: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  scroll-behavior: smooth;
}

.custom-toast {
  background-color: rgba(254, 233, 233, 0.9);
  font-family: Mabry-Regular;
  backdrop-filter: blur(4px);
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.info-box {
  place-content: flex-start center;
  align-items: flex-start;
  background-color: var(--token-7fd21321-91d9-48b8-b0ba-90ce106aef12, #000000);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1.00399px 1.00399px 0px, rgba(0, 0, 0, 0.02) 0px 2.39052px 2.39052px 0px, rgba(0, 0, 0, 0.03) 0px 4.35559px 4.35559px 0px, rgba(0, 0, 0, 0.054) 0px 7.24103px 7.24103px 0px, rgba(0, 0, 0, 0.088) 0px 11.7003px 11.7003px 0px, rgba(0, 0, 0, 0.144) 0px 19.1409px 19.1409px 0px, rgba(0, 0, 0, 0.247) 0px 32.9762px 32.9762px 0px, rgba(0, 0, 0, 0.45) 0px 60px 60px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 4px;
  height: min-content;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 580px;
  will-change: transform;
}
