@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131b1c;
  scrollbar-width: none;
  @apply text-[#F2EEC0] font-satoshi-regular font-medium;
}

.blur {
  backdrop-filter: blur(5px);
}

.gradient-text {
  @apply bg-gradient-to-r from-yellow-200 to-amber-800 bg-clip-text text-transparent
}

.header-text {
  @apply phone:text-[3vh] xs:text-[3vh] s:text-[3vh] sm:text-[4vw] tablet:text-[4vw] md:text-[3.5vw] lg:text-[3.5vw]
}

.animation {
  @apply transition duration-500 ease-in-out
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Rubintek;
  src: url("./assets/fonts/rubintek.ttf");
}

@font-face {
  font-family: Doran;
  src: url("./assets/fonts/Doran-Bold.ttf");
}

@font-face {
  font-family: Satoshi-Regular;
  src: url("./assets/fonts/Satoshi-Regular.ttf");
}

@font-face {
  font-family: Satoshi-Medium;
  src: url("./assets/fonts/Satoshi-Medium.ttf");
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("./assets/fonts/Satoshi-Bold.ttf");
}

.scroll {
  scrollbar-width: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
.ciao {
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-toast {
  background-color: rgba(254, 233, 233, 0.9);
  font-family: Mabry-Regular;
  backdrop-filter: blur(4px);
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

